@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

html{
    /*  font-size: 40%;*/
    font-size: 90.5%; 
      /* font-size: 62.5%; */
  }
  
  
  body {
   
      /* background-image: url('whiteg.jpg'); */
      font-family: "Poppins", sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f5f5f5;
      /* background-repeat: no-repeat; */
     
  }
  
  
  header {   /*header medium*/
      background-color: #383232;
      color: #fff;
      text-align: center; 
      padding: 2em;
      position: inherit;
      
     
  
  
  }
    .btna{
    
        display: inline-block;
        padding: 0.5em 0.5em;
        font-size: 1em;
        text-decoration: none;
        background-color: #f4d5d5;
        color: #1c1313;
        border-radius: 0.3em;
        transition: background-color 0.3s;
    
}
.btna:hover{
    background-color: #ffffff;
    color: #1c1313;
}
   .home img {
      width: 9.375rem;
      border-radius: 10%;
  }
  
  /* header img {
      width: 9.375rem;
      border-radius: 10%;
  } */
  
  
  
  button {
      position: absolute;
      top: 0.625rem;
      left: 2.5rem;
      margin: 0;
      font-weight: bold;
      font-family: inherit;
      font-size: 2.1875rem;
  }
  
  .headtop h3 {
      font-size: 2.4em;
      margin-bottom: 0.2em;
  }
  
  .headtop h1 {
      font-size: 3em;
      margin-bottom: 1em;
  }
  
  .headtop p {
      font-size: 1.2em;
      margin-bottom: 0.2em;
  }
  
  
  section {
      padding: 30em;
      text-align: center;
  }
  
  
  
  .Resume {
      background-color: #e1dddd;
  }
  
  
  
  h2 {
      font-size: 3em;
      margin-bottom: 1em;
  }
  h6 {
    display: block;
    font-size: 1em;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
  
  p {
      font-size: 1.2em;
      margin-bottom: 1em;
  }
  .btn {
    position: relative;
    text-decoration: none;
    color: #fcfcfc; /* Set the color of the text */
    font-weight: bold; /* Optionally make the text bold */
    margin-right: 20px; /* Add some spacing between buttons */
}

.btn::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -3px; /* Adjust the position of the line */
    left: 0;
    width: 0;
    height: 2px; /* Adjust the height of the line */
    background-color: #908f8f; /* Set the color of the line */
    transition: width 0.3s; /* Add a smooth transition effect */
}

.btn:hover::after {
    width: 100%; /* Expand the line on hover */
}
  #home {
      padding: 13rem; /* Adjust the value as needed */
      
      
  }
  .home p {
        font-size: 1.2em;
        margin-bottom: 1em;
  }
  #about {
  
      padding: 21.875rem; /* Adjust the value as needed */
      display: flex;
      align-items: center;
      justify-content: center;
      height: 20vh;
     transition: ease-in-out 1s;
     
  }
  
  .about p {
    
        font-size: auto;
        margin-bottom: 1em;
    }
  
    /* #Skills{
      
       /* Adjust the value as needed */
     /* Adjust the value as needed *     
      margin-bottom: 0%;
      background-color: #e5e5e5;
      text-align: center;
     
      
     
    } */

    .skill {
        display: grid;
   
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      
        /* grid-template-rows: repeat(2, 1fr); */
        gap: 4rem;
        /* margin-left: auto;
        margin-right: auto; */
        /* width: 50%; */
        width: 100%;
       
    }
    .Skills h2 {
margin-top: 1rem;
        margin-bottom: 1em;
    }
    
    .Skills {
        padding: 10.5rem 1.25rem; ;
        text-align: center;
     /* Adjust the value as needed */
     /* Adjust the value as needed */
     /* display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-template-rows: repeat(2, 1fr);
     gap: 4rem;
     margin: 2rem;
     width: 60%; */
    }

    .skills ul {
      display:grid;
      flex-direction: row;
      margin: 2rem;
      text-align: center;
    }
      .skills ul a {
         margin: 1.4rem;
         padding:1.2rem 1rem  ;
      }
       .skill-card{
       
        padding: 0.1rem; 
        border: 0.5rem solid #242222;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction:row;
        width: 60%;
       margin-left: 5%;
        /* height: auto; */
        /* width:auto; */
        /* gap: 0.4rem ; */
        border-radius: 2rem;
        text-align: center;
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        align-items: center;
        /* margin-left: 30px;
        margin-top: 5px; */
        
        /* z-index: -1; */
        transition: opacity 0.3s ease, background-color 0.3s ease; /* Smooth transition effect */

        }

   
    .skill-card img {
        width: 7vh;
        padding: 1rem;
        max-width:10vh;
        max-height:10vh;
        height: 20vh;
       

        
    }
    .skill-card h3 {
        font-size: 1rem;
    }
    .skill :hover{
        border-radius: 2rem;
     
        opacity: 0.8; /* Reduce opacity on hover */
        background-color: #a19e9e; /* Add a background color on hover */
       
    }
    /* .skill:hover{
    
    transform: scale(1.1);
    transition: transform 0.3s;
} */
    /* .Certifications ul {
      display:flexbox;
      flex-direction: column;
      margin: 2rem;
      text-align: center;
    }
      .Certifications ul a {
         margin: 1.4rem;
         padding:1.2rem 1rem  ;
      }
     */
  
  
  .Certifications {
      padding: 7.0866150660302rem; /* Adjust the value as needed */
     /* Adjust the value as needed */
      text-align: center;
      margin-bottom: 0.625rem;
      margin-block-end: 0;
      background-color: #fff;
  
  }

  /* .certificate-card h5 {
    margin: 0;
    font-size: 1rem;
    

}
.certificate-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 4rem;
    margin: 2rem;
    width: 40%;

}
.certificate-grid  :hover{
    
    transform: scale(1.1);
    transition: transform 0.3s;
}

.certificate-card {
    text-align: center;
    padding: 10px; 
    border: 1px solid #746f6f;
    background-color: rgb(167, 167, 167);
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 6px 4px;
    border-radius: 5px;
    
}

.certificate-card img {
    max-width: 10vh;
    height: auto;   
    
}

.certificate-link {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #49545f;
} */
       
.certificate-card h5 {
    margin: 0;
    font-size: 1.2rem;
    

}
.certificate-card h6 {
    margin: 1em;
    font-size: 1.2rem;
    

}
.certificate-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr)); /* Adjust minmax values */
    gap: 2rem; /* Adjust the gap if needed */
    margin: 2rem; /* Adjust the margin if needed */
    width: 100%;
    max-width: 100%; /* Use a percentage or a fixed value, based on your design */
    max-height: 30%; /* Adjust the max-height if needed */
    justify-content: space-evenly;
}
 /* MEDIA QUERY FOR CERTIFICATES */
 @media (max-width: 768px) {
    .project-card {
        width: 45%; /* Adjust this value for smaller screens */
    }
}

@media (max-width: 480px) {
    .project-card {
        width: 100%; /* Make cards take up full width on smaller screens */
        max-width: none; /* Remove maximum width */
    }
}
/* END */
.certificate-grid  :hover{
    
    transform: scale(1.1);
    transition: transform 0.3s;
}

.certificate-card {
    /* text-align: center; */
    padding: 0.8rem; 
    border: 0.15rem solid #767272;
    background-color: rgb(167, 167, 167);
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    gap: 0rem ;
    border-radius: 20rem;
   
    
}

.certificate-card img {
    max-width: 10vh;
    height: auto;   
    size-adjust: auto;
}

.certificate-link {
    display: block;
    margin-top: 0.625rem;
    text-decoration: none;
    color: #49545f;
}
  .internship {
      padding: 1.875rem; /* Adjust the value as needed */
     /* Adjust the value as needed */
      text-align: center;
      margin-bottom: 0%;
      background-color: #ddd;
  }
  h1 {
      line-height: 0; /* Adjust the value as needed */
  }
  .headtop {
      /* background-color: #333; */
      color: #fff;
      text-align: center;
      padding: 2.3em;
      position: sticky;
      top: 0;
      z-index: 1;
  }
  .Certifications {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 0%;
  }
  
  /* .cert-button {
      margin: 0.625rem 18.75rem;
      padding: 0.3125rem 1.25rem;
      background-color: #2d0915; /* Adjust background color as needed 
      color: #fff; /* Adjust text color as needed 
      text-decoration: none;
      border-radius: 6.25rem;
      font-size: 1rem;
      display: inline-block;
      margin-bottom: 0.625rem;
      margin-top: -1.875rem;
      align-items: center;
  } */
  .nav-buttons {
      position: absolute;
      top: 1.625rem;
      right: 6.25rem;
     
     
      
  }
      .nav-buttons a {
        transition: color 0.3s ease; /* Apply transition to the color property */
        transition: font-size 0.3s ease;
      }
      
     
       /* PROJECTS SECTION  */

          
 .projects {
    padding: 9vmax; /* Adjust the value as needed */
}
    .project-card {
        text-align: center;
        padding: 0.625rem;
        border: 0.0625rem solid #d3cdcd;
        position: relative;
        display: inline-block;

display: flex;
flex-direction: column;

gap: 3.125rem 0rem;

/* height: 14.375rem; */
border-radius: 0.3125rem;

}

.project-card img {
    max-width: 100%;
    max-height: 190%;
    
}
.project-card h5 {
    margin: 0;
    font-size: 1rem;
    

}
/* .project-grid:hover .hover-text {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: opacity 0.3s ease;
} */
    #card1 img:hover{
    opacity: 0.3;
    transition: opacity 0.3s ease;


}
 #card2 img:hover {
    opacity: 0.3;
    transition: opacity 0.3s ease;
}
#card3 img:hover {
    opacity: 0.3;
    transition: opacity 0.3s ease;
}
#card3 img {
    width: 85%;
}

.project-link {
    display: block;
    margin-top: 0.625rem;
    text-decoration: none;
    color: #49545f;
}
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    /* grid-template-rows: repeat(1,1fr); */
    gap: 3rem;
    margin: 3rem;
    gap: 4rem;
    color: #fff;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 2rem;
    margin-top: 3rem;
}
/* .project-card  :hover{
    
    transform: scale(1.1);
    transition: transform 0.3s;
} */
    
    /* CONTACT SECTION  */
  .contact {
      text-align: center;
      padding: 3.125rem 1.25rem;
      background-color: #fffcfc; /* Adjust the background color as needed */
  }
  
  .contact form {
      max-width: 25rem;
      margin: 0 auto;
      background-color: #fff;
      padding: 1.125rem;
      border-radius: 0.625rem;
      box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  }
  
  .contact form label,
  .contact form input,
  .contact form textarea {
      display: block;
      width: 100%;
      margin-bottom: 0.625rem;
  }
  
  .contact form textarea {
      height: 6.25rem;
  }
  
  .contact form input[type="submit"] {
      background-color: #333;
      color: #fff;
      padding: 0.625rem 1.25rem;
      border: none;
      cursor: pointer;
      border-radius: 0.3125rem;
  }
  
  .contact p {
      margin-bottom: 0.625rem;
      font-size: 1.2em;
  }
  
  .contact p:last-child {
      margin-bottom: 0;
  }
  .internship ul li {
    width: auto;

  }
  
  .internship h3 {
    width: auto;
  }
  
  
  #skills {
      text-align: center;
      background-color: #777575;
  }
  
  /* .skill {
      /* background-image: url('white.jpg'); 
      
      margin-bottom: 1.25rem;
      text-align: left;
     
     animation: slideInLeft 1s ease-in-out; /* Add leftward animation to skills 
  } */
  
  
  /* .skill-name {
      font-weight: bold;
      display: block;
      margin-bottom: 0.3125rem;
  }
  
  .skill-bar {
      background-color: #ddd;
      height: 1.25rem;
      border-radius: 0.625rem;
      overflow: hidden;
  }
  
  .skill-level {
      background-color: #333;
      height: 100%;
  } */
  
  
  .about{
      /* background-image: url('moon.jpg'); */
      background-size: cover;
      background-position: center;
      color: #332f2f;
      
      padding: 6.25rem 0;
      animation: moveSpace 20s linear infinite; /* Adjust duration (20s) as needed */
      color: #fff;
      background-color: #c3c3c3;
      
  }
  
  .about-box {
      border: 0.125rem solid #333; /* Border style, adjust color and width as needed */
      padding: 1.25rem; /* Padding inside the box */
      background-color: #333; /* Background color */
      text-align: center; /* Center the text */
      
  }
  
  .social-icons {
      margin-top: 0.625rem; /* Add some top margin for spacing */
  }
  
  .social-icons a {
      margin-right: 0.625rem; /* Add some right margin for spacing between icons */
  }
  
  .social-icons img {
      width: 2.5rem; /* Set the desired width for your icons */
      height: 2.5rem; /* Set the desired height for your icons */
  }
  
  .home {
      /* background-image: url('sky.jpg'); */
      background-color: #918f8f;
      background-size: cover;
      background-position: center;
      color: #332f2f;
      text-align: center;
      padding: 6.25rem 0;
       /* Adjust duration (20s) as needed */
     
  }

   
  .all {
      /* background-image: url('white.png'); */
      padding: 0rem;
      color: #060606;
      text-align: center;
      
  }
  .Resume{
      /* background-image: url('white2.jpg'); */
      padding: 18.75rem 0;
      color: #060606;
      text-align: center;
      
  }
  .contact{
      /* background-image: url('white2.jpg'); */
      padding: 18.75rem 0;
      color: #060606;
      
  }
  @keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 30px); }
    100%   { transform: translate(0, -0px); }   
}
@keyframes floating {
    0% { transform: translate(0,  0px);}
    50%  { transform: translate(0,30px); }
    100%   { transform: translate(0, -0px); }   
}
  /* @keyframes moveSpace {
      0% { background-position: 0 0; }
      100% { background-position: 100% 0; }
  }
   */
  @media(max-width:998px){
      html{
          font-size: 55%;
      }
  }
  @media(max-width:768px){
      html{
          font-size: 50%;
      }
  }
  @media(max-width:500px){
      html{
          font-size: 45%;
      }
  }
  @media(max-width:400px){
      html{
          font-size: 30%;

          .project-card{
            width: 100%;
          }
      }
  }
  @media(max-width:300px){
      html{
          font-size: 9%;


      }
  }
  @media(max-width:200px){
      html{
          font-size: 30%;
      }
  }
